.elementor-2902 .elementor-element.elementor-element-80bda76 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --flex-wrap: wrap;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-6ab0e4a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-fcf9e5f h5 {
    margin: 21px 0;
}

.elementor-2902 .elementor-element.elementor-element-fcf9e5f {
    text-align: center;
}

.elementor-2902 .elementor-element.elementor-element-4b5a894 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-d957fa2 h5 {
    margin: 21px 0;
}

.elementor-2902 .elementor-element.elementor-element-d957fa2 {
    text-align: center;
}

.elementor-2902 .elementor-element.elementor-element-4fcb7ad {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-7630e68 h5 {
    margin: 21px 0;
}

.elementor-2902 .elementor-element.elementor-element-7630e68 {
    text-align: center;
}

.elementor-2902 .elementor-element.elementor-element-d17857a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-d9043b7 h5 {
    margin: 21px 0;
}

.elementor-2902 .elementor-element.elementor-element-d9043b7 {
    text-align: center;
}

.elementor-2902 .elementor-element.elementor-element-c9abcb5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2902 .elementor-element.elementor-element-1f0c0a3 h5 {
    margin: 21px 0;
}

.elementor-2902 .elementor-element.elementor-element-1f0c0a3 {
    text-align: center;
}

@media(min-width:768px) {
    .elementor-2902 .elementor-element.elementor-element-6ab0e4a {
        --width: 50%;
    }
    .elementor-2902 .elementor-element.elementor-element-4b5a894 {
        --width: 50%;
    }
    .elementor-2902 .elementor-element.elementor-element-4fcb7ad {
        --width: 50%;
    }
    .elementor-2902 .elementor-element.elementor-element-d17857a {
        --width: 50%;
    }
}