.elementor-2334 .elementor-element.elementor-element-713fcfd {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2334 .elementor-element.elementor-element-53bb4ef {
    text-align: center;
}

.elementor-2334 .elementor-element.elementor-element-53bb4ef>.elementor-widget-container {
    margin: 0px 25px 0px 0px;
}

.elementor-2334 .elementor-element.elementor-element-c7758f3 {
    text-align: justify;
}