.elementor-3250 .elementor-element.elementor-element-ecb3016 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-3250 .elementor-element.elementor-element-d188156 .masonry-gallery {
    height: 560px;
}

.elementor-3250 .elementor-element.elementor-element-d188156 figure {
    border-radius: 1rem 1rem 1rem 1rem;
}