.elementor-2900 .elementor-element.elementor-element-0866809 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-9307466 {
    text-align: center;
}

.elementor-2900 .elementor-element.elementor-element-1817ccd {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-7b991e0 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-aa40f35 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-aa40f35 {
    text-align: justify;
}

.elementor-2900 .elementor-element.elementor-element-3f3b82b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-f83d176 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-f83d176 {
    text-align: justify;
}

.elementor-2900 .elementor-element.elementor-element-79807f3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-96175c2 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-96175c2 {
    text-align: center;
}

.elementor-2900 .elementor-element.elementor-element-deaa5df {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-2f6fd7f {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-daa945f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-0f1457f h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-0f1457f {
    text-align: justify;
}

.elementor-2900 .elementor-element.elementor-element-93e36c8 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-b6f3ba5 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-b6f3ba5 {
    text-align: justify;
}

.elementor-2900 .elementor-element.elementor-element-18b8d01 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-c6842f1 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-c6842f1 {
    text-align: center;
}

.elementor-2900 .elementor-element.elementor-element-310853a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-4bf0938 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-7452b41 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-e8be9da h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-e8be9da {
    text-align: justify;
}

.elementor-2900 .elementor-element.elementor-element-0491673 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2900 .elementor-element.elementor-element-453da75 h5 {
    margin: 20px 0;
}

.elementor-2900 .elementor-element.elementor-element-453da75 {
    text-align: justify;
}

@media(min-width:768px) {
    .elementor-2900 .elementor-element.elementor-element-7b991e0 {
        --width: 50%;
    }
    .elementor-2900 .elementor-element.elementor-element-3f3b82b {
        --width: 50%;
    }
    .elementor-2900 .elementor-element.elementor-element-daa945f {
        --width: 50%;
    }
    .elementor-2900 .elementor-element.elementor-element-93e36c8 {
        --width: 50%;
    }
    .elementor-2900 .elementor-element.elementor-element-7452b41 {
        --width: 50%;
    }
    .elementor-2900 .elementor-element.elementor-element-0491673 {
        --width: 50%;
    }
}

@media(max-width:1024px) {
    .elementor-2900 .elementor-element.elementor-element-aa40f35 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-f83d176 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-0f1457f {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-b6f3ba5 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-e8be9da {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-453da75 {
        text-align: center;
    }
}

@media(max-width:767px) {
    .elementor-2900 .elementor-element.elementor-element-aa40f35 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-f83d176 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-0f1457f {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-b6f3ba5 {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-e8be9da {
        text-align: center;
    }
    .elementor-2900 .elementor-element.elementor-element-453da75 {
        text-align: center;
    }
}