.elementor-2347 .elementor-element.elementor-element-1a83d46 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-b94c2e0 {
    text-align: center;
}

.elementor-2347 .elementor-element.elementor-element-d98ba7a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-af34832 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-af34832.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-2347 .elementor-element.elementor-element-e984ce3 .elementor-button .elementor-align-icon-right {
    margin-left: 25px;
}

.elementor-2347 .elementor-element.elementor-element-e984ce3 .elementor-button .elementor-align-icon-left {
    margin-right: 25px;
}

.elementor-2347 .elementor-element.elementor-element-e984ce3 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2347 .elementor-element.elementor-element-dff4f58 .elementor-button .elementor-align-icon-right {
    margin-left: 9px;
}

.elementor-2347 .elementor-element.elementor-element-dff4f58 .elementor-button .elementor-align-icon-left {
    margin-right: 9px;
}

.elementor-2347 .elementor-element.elementor-element-dff4f58 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2347 .elementor-element.elementor-element-521a15c {
    --spacer-size: 50px;
}

.elementor-2347 .elementor-element.elementor-element-3103dcb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-da589fe {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-da589fe.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-2347 .elementor-element.elementor-element-a6f9461 .elementor-button .elementor-align-icon-right {
    margin-left: 25px;
}

.elementor-2347 .elementor-element.elementor-element-a6f9461 .elementor-button .elementor-align-icon-left {
    margin-right: 25px;
}

.elementor-2347 .elementor-element.elementor-element-a6f9461 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2347 .elementor-element.elementor-element-57613a5 .elementor-button .elementor-align-icon-right {
    margin-left: 9px;
}

.elementor-2347 .elementor-element.elementor-element-57613a5 .elementor-button .elementor-align-icon-left {
    margin-right: 9px;
}

.elementor-2347 .elementor-element.elementor-element-57613a5 .elementor-button {
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2347 .elementor-element.elementor-element-819f65d {
    --spacer-size: 50px;
}

.elementor-2347 .elementor-element.elementor-element-2d75fec {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2347 .elementor-element.elementor-element-446fd61 {
    text-align: center;
}

.elementor-2347 .elementor-element.elementor-element-d5d529b {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

@media(max-width:767px) {
    .elementor-2347 .elementor-element.elementor-element-b94c2e0 .shelly-heading {
        font-size: 24px;
    }
    .elementor-2347 .elementor-element.elementor-element-c6c325c {
        text-align: center;
    }
    .elementor-2347 .elementor-element.elementor-element-c6c325c .shelly-heading {
        font-size: 17px;
    }
    .elementor-2347 .elementor-element.elementor-element-af34832 {
        --width: 321.2px;
        --min-height: 0px;
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-2347 .elementor-element.elementor-element-521a15c {
        --spacer-size: 21px;
    }
    .elementor-2347 .elementor-element.elementor-element-1739ba9 {
        text-align: center;
    }
    .elementor-2347 .elementor-element.elementor-element-1739ba9 .shelly-heading {
        font-size: 17px;
    }
    .elementor-2347 .elementor-element.elementor-element-da589fe {
        --width: 321.2px;
        --min-height: 0px;
        --justify-content: center;
        --align-items: center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow)) * 100%);
    }
    .elementor-2347 .elementor-element.elementor-element-819f65d {
        --spacer-size: 21px;
    }
    .elementor-2347 .elementor-element.elementor-element-446fd61 {
        text-align: center;
    }
    .elementor-2347 .elementor-element.elementor-element-446fd61 .shelly-heading {
        font-size: 17px;
    }
}