.elementor-1470 .elementor-element.elementor-element-e81cf02>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1470 .elementor-element.elementor-element-e81cf02 {
    margin-top: 4rem;
    margin-bottom: -6rem;
    z-index: 1;
}

.elementor-1470 .elementor-element.elementor-element-92e283c .shelly-heading {
    color: #FFFFFF;
}

.elementor-1470 .elementor-element.elementor-element-92e283c .shelly-heading span {
    color: #FFFFFF;
}

.elementor-1470 .elementor-element.elementor-element-92e283c>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 4rem 4rem 0rem 4rem;
}

.elementor-1470 .elementor-element.elementor-element-5c7618a {
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 500;
}

.elementor-1470 .elementor-element.elementor-element-5c7618a>.elementor-widget-container {
    padding: 0rem 4rem 4rem 4rem;
}

.elementor-1470 .elementor-element.elementor-element-fe33636>.elementor-widget-container {
    padding: 3rem 3rem 3rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-5ba6701:not(.elementor-motion-effects-element-type-background),
.elementor-1470 .elementor-element.elementor-element-5ba6701>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1470 .elementor-element.elementor-element-5ba6701 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 10rem 0rem 0rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-5ba6701>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1470 .elementor-element.elementor-element-5ba6701>.elementor-shape-top .elementor-shape-fill {
    fill: #F5FCFF;
}

.elementor-1470 .elementor-element.elementor-element-5ba6701>.elementor-shape-top svg {
    width: calc(100% + 1.3px);
    height: 96px;
}

.elementor-1470 .elementor-element.elementor-element-e3031e4>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-6709423 .contact-icon i {
    color: var(--e-global-color-primary);
    font-size: 16px;
}

.elementor-1470 .elementor-element.elementor-element-fa14311>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-160913f {
    width: var( --container-widget-width, 90.189%);
    max-width: 90.189%;
    --container-widget-width: 90.189%;
    --container-widget-flex-grow: 0;
}

.elementor-1470 .elementor-element.elementor-element-160913f.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1470 .elementor-element.elementor-element-158fb53>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-4975103 {
    width: var( --container-widget-width, 101.132%);
    max-width: 101.132%;
    --container-widget-width: 101.132%;
    --container-widget-flex-grow: 0;
}

.elementor-1470 .elementor-element.elementor-element-4975103.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1470 .elementor-element.elementor-element-20f287b>.elementor-widget-container {
    margin: 0rem 0rem 1rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-afbb655>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1470 .elementor-element.elementor-element-afbb655:not(.elementor-motion-effects-element-type-background),
.elementor-1470 .elementor-element.elementor-element-afbb655>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1470 .elementor-element.elementor-element-afbb655 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 2rem 0rem 1rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-afbb655>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1470 .elementor-element.elementor-element-ceaec58.elementor-column>.elementor-widget-wrap {
    justify-content: space-between;
}

.elementor-1470 .elementor-element.elementor-element-02e66ec {
    --divider-border-style: solid;
    --divider-color: #C9E2F8;
    --divider-border-width: 2px;
}

.elementor-1470 .elementor-element.elementor-element-02e66ec .elementor-divider-separator {
    width: 100%;
}

.elementor-1470 .elementor-element.elementor-element-02e66ec .elementor-divider {
    padding-block-start: 0px;
    padding-block-end: 0px;
}

.elementor-1470 .elementor-element.elementor-element-2375a8d>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-1470 .elementor-element.elementor-element-2375a8d:not(.elementor-motion-effects-element-type-background),
.elementor-1470 .elementor-element.elementor-element-2375a8d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-1470 .elementor-element.elementor-element-2375a8d {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 1rem 0rem 4rem 0rem;
}

.elementor-1470 .elementor-element.elementor-element-2375a8d>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1470 .elementor-element.elementor-element-a07a275.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start;
}

.elementor-1470 .elementor-element.elementor-element-d7b4f88 {
    font-size: 15px;
    width: auto;
    max-width: auto;
}

.elementor-1470 .elementor-element.elementor-element-29b956d {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1470 .elementor-element.elementor-element-29b956d .elementor-widget-container {
    text-align: right;
}

.elementor-1470 .elementor-element.elementor-element-29b956d.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1470 .elementor-element.elementor-element-1b95bb1 {
    text-align: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
}

.elementor-1470 .elementor-element.elementor-element-1b95bb1.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1470 .elementor-element.elementor-element-5cb3a20.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-1470 .elementor-element.elementor-element-a773e27 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 5px;
    --grid-row-gap: 0px;
}

.elementor-1470 .elementor-element.elementor-element-a773e27 .elementor-widget-container {
    text-align: right;
}

.elementor-1470 .elementor-element.elementor-element-a773e27.elementor-element {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-1470 .elementor-element.elementor-element-42386d9 {
    --display: flex;
    --background-transition: 0.3s;
}

@media(max-width:1024px) {
    .elementor-1470 .elementor-element.elementor-element-92e283c>.elementor-widget-container {
        padding: 2rem 2rem 0rem 2rem;
    }
    .elementor-1470 .elementor-element.elementor-element-5c7618a>.elementor-widget-container {
        padding: 0rem 2rem 2rem 2rem;
    }
    .elementor-1470 .elementor-element.elementor-element-fe33636>.elementor-widget-container {
        padding: 2rem 2rem 2rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-6709423>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-160913f>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-4975103>.elementor-widget-container {
        margin: 0rem 0rem 2rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-afbb655 {
        padding: 1rem 0rem 1rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-d7b4f88 {
        font-size: 11px;
    }
    .elementor-1470 .elementor-element.elementor-element-29b956d {
        width: var( --container-widget-width, 199.062px);
        max-width: 199.062px;
        --container-widget-width: 199.062px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1470 .elementor-element.elementor-element-1b95bb1 {
        font-size: 11px;
        width: var( --container-widget-width, 231.062px);
        max-width: 231.062px;
        --container-widget-width: 231.062px;
        --container-widget-flex-grow: 0;
    }
    .elementor-1470 .elementor-element.elementor-element-a773e27 {
        width: var( --container-widget-width, 199.062px);
        max-width: 199.062px;
        --container-widget-width: 199.062px;
        --container-widget-flex-grow: 0;
    }
}

@media(max-width:767px) {
    .elementor-1470 .elementor-element.elementor-element-92e283c>.elementor-widget-container {
        padding: 3rem 0rem 0rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-5c7618a>.elementor-widget-container {
        padding: 0rem 0rem 2rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-fe33636>.elementor-widget-container {
        padding: 0rem 0rem 3rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-163dc12.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-1470 .elementor-element.elementor-element-3e43d3a.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-1470 .elementor-element.elementor-element-afbb655 {
        padding: 1rem 0rem 1rem 0rem;
    }
    .elementor-1470 .elementor-element.elementor-element-a07a275.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-1470 .elementor-element.elementor-element-d7b4f88 {
        text-align: center;
    }
    .elementor-1470 .elementor-element.elementor-element-29b956d .elementor-widget-container {
        text-align: center;
    }
    .elementor-1470 .elementor-element.elementor-element-29b956d {
        --container-widget-width: 330px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 330px);
        max-width: 330px;
    }
    .elementor-1470 .elementor-element.elementor-element-1b95bb1 {
        --container-widget-width: 330px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 330px);
        max-width: 330px;
    }
    .elementor-1470 .elementor-element.elementor-element-5cb3a20.elementor-column>.elementor-widget-wrap {
        justify-content: center;
    }
    .elementor-1470 .elementor-element.elementor-element-a773e27 .elementor-widget-container {
        text-align: center;
    }
}

@media(min-width:768px) {
    .elementor-1470 .elementor-element.elementor-element-986fecd {
        width: 29.649%;
    }
    .elementor-1470 .elementor-element.elementor-element-163dc12 {
        width: 23.486%;
    }
    .elementor-1470 .elementor-element.elementor-element-c77bc40 {
        width: 21.843%;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1470 .elementor-element.elementor-element-986fecd {
        width: 50%;
    }
    .elementor-1470 .elementor-element.elementor-element-163dc12 {
        width: 50%;
    }
    .elementor-1470 .elementor-element.elementor-element-3e43d3a {
        width: 100%;
    }
}