.elementor-2336 .elementor-element.elementor-element-55c44be {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2336 .elementor-element.elementor-element-c1b4856 {
    text-align: center;
}

.elementor-2336 .elementor-element.elementor-element-c1b4856>.elementor-widget-container {
    margin: 0px 25px 0px 0px;
}

.elementor-2336 .elementor-element.elementor-element-d742339 {
    text-align: justify;
}