.elementor-2904 .elementor-element.elementor-element-dc10792 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-f8f862d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-cd16d28 {
    --spacer-size: 120px;
}

.elementor-2904 .elementor-element.elementor-element-7a066cb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-f18a88d .site-hero-image {
    height: 482px;
}

.elementor-2904 .elementor-element.elementor-element-86b5023 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-372dcbd {
    text-align: center;
}

.elementor-2904 .elementor-element.elementor-element-26ad3f4 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-5ea29cb {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-27fe2c2 {
    --spacer-size: 120px;
}

.elementor-2904 .elementor-element.elementor-element-4c96f4f {
    text-align: justify;
}

.elementor-2904 .elementor-element.elementor-element-e91c172 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-e72e397 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-d087c03 {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-2904 .elementor-element.elementor-element-d087c03 .elementor-divider-separator {
    width: 100%;
}

.elementor-2904 .elementor-element.elementor-element-d087c03 .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-2904 .elementor-element.elementor-element-3744cf3 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-3744cf3.e-con {
    --flex-grow: 0;
    --flex-shrink: 0;
}

.elementor-2904 .elementor-element.elementor-element-1223e16 {
    text-align: center;
}

.elementor-2904 .elementor-element.elementor-element-99b8a84 h5 {
    margin: 20px 0;
}

.elementor-2904 .elementor-element.elementor-element-1b44c9f h5 {
    margin: 20px 0;
}

.elementor-2904 .elementor-element.elementor-element-fbff5ec h5 {
    margin: 20px 0;
}

.elementor-2904 .elementor-element.elementor-element-c87dffe {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2904 .elementor-element.elementor-element-5a9e33b {
    --divider-border-style: solid;
    --divider-color: #000;
    --divider-border-width: 1px;
}

.elementor-2904 .elementor-element.elementor-element-5a9e33b .elementor-divider-separator {
    width: 100%;
}

.elementor-2904 .elementor-element.elementor-element-5a9e33b .elementor-divider {
    padding-block-start: 15px;
    padding-block-end: 15px;
}

.elementor-2904 .elementor-element.elementor-element-f8db6c4 {
    text-align: center;
}

.elementor-2904 .elementor-element.elementor-element-d891943 {
    text-align: justify;
}

@media(min-width:768px) {
    .elementor-2904 .elementor-element.elementor-element-f8f862d {
        --width: 50%;
    }
    .elementor-2904 .elementor-element.elementor-element-7a066cb {
        --width: 50%;
    }
    .elementor-2904 .elementor-element.elementor-element-5ea29cb {
        --width: 50%;
    }
    .elementor-2904 .elementor-element.elementor-element-e91c172 {
        --width: 50%;
    }
    .elementor-2904 .elementor-element.elementor-element-3744cf3 {
        --width: 103.036%;
    }
}