.elementor-2909 .elementor-element.elementor-element-5c2486d {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-22ff1d9 {
    --e-image-carousel-slides-to-show: 1;
}

.elementor-2909 .elementor-element.elementor-element-3b59774 {
    --spacer-size: 20px;
}

.elementor-2909 .elementor-element.elementor-element-4834dbc {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-c8ee57f {
    text-align: center;
}

.elementor-2909 .elementor-element.elementor-element-cac3055 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-e4ba5bf {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-cc2fcbd {
    --icon-box-icon-margin: 15px;
}

.elementor-2909 .elementor-element.elementor-element-cc2fcbd.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-cc2fcbd.elementor-view-framed .elementor-icon,
.elementor-2909 .elementor-element.elementor-element-cc2fcbd.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-fa5d3ac);
    color: var( --e-global-color-fa5d3ac);
    border-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-cc2fcbd .elementor-icon-box-title {
    color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-e798499 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-21c4784 {
    --icon-box-icon-margin: 15px;
}

.elementor-2909 .elementor-element.elementor-element-21c4784.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-21c4784.elementor-view-framed .elementor-icon,
.elementor-2909 .elementor-element.elementor-element-21c4784.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-fa5d3ac);
    color: var( --e-global-color-fa5d3ac);
    border-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-21c4784 .elementor-icon-box-title {
    color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-094a5c1 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-03dc414 {
    --icon-box-icon-margin: 15px;
}

.elementor-2909 .elementor-element.elementor-element-03dc414.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-03dc414.elementor-view-framed .elementor-icon,
.elementor-2909 .elementor-element.elementor-element-03dc414.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-fa5d3ac);
    color: var( --e-global-color-fa5d3ac);
    border-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-03dc414 .elementor-icon-box-title {
    color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-71a3d5d {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-8c84946 {
    --icon-box-icon-margin: 15px;
}

.elementor-2909 .elementor-element.elementor-element-8c84946.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-8c84946.elementor-view-framed .elementor-icon,
.elementor-2909 .elementor-element.elementor-element-8c84946.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-fa5d3ac);
    color: var( --e-global-color-fa5d3ac);
    border-color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-8c84946 .elementor-icon-box-title {
    color: var( --e-global-color-fa5d3ac);
}

.elementor-2909 .elementor-element.elementor-element-dfb7110 {
    --display: flex;
    --background-transition: 0.3s;
}

.elementor-2909 .elementor-element.elementor-element-37415ad {
    --spacer-size: 20px;
}

.elementor-2909 .elementor-element.elementor-element-af8e4db {
    text-align: center;
}

.elementor-2909 .elementor-element.elementor-element-8e99307 .masonry-gallery {
    height: 474px;
}

.elementor-2909 .elementor-element.elementor-element-8e99307 figure {
    border-radius: 1rem 1rem 1rem 1rem;
}

@media(min-width:768px) {
    .elementor-2909 .elementor-element.elementor-element-e4ba5bf {
        --width: 25%;
    }
    .elementor-2909 .elementor-element.elementor-element-e798499 {
        --width: 25%;
    }
    .elementor-2909 .elementor-element.elementor-element-094a5c1 {
        --width: 25%;
    }
    .elementor-2909 .elementor-element.elementor-element-71a3d5d {
        --width: 25%;
    }
}